.mainBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.mainBlock * {
    margin: 20px;
}
div {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.mainBlock button {
    margin: 20px;
}